[submodule "third-party/bgfx"]
	path = third-party/bgfx
	url = https://github.com/bkaradzic/bgfx/
	branch = 379fc707ffe74262669b2b9bed3d03591de13620
[submodule "third-party/bx"]
	path = third-party/bx
	url = https://github.com/bkaradzic/bx/
	branch = 8832707
[submodule "third-party/bimg"]
	path = third-party/bimg
	url = https://github.com/bkaradzic/bimg/
	branch = 663f724
