[submodule "third-party/bgfx"]
	path = third-party/bgfx
	url = https://github.com/bkaradzic/bgfx/
	branch = 379fc707ff
[submodule "third-party/bx"]
	path = third-party/bx
	url = https://github.com/bkaradzic/bx/
	branch = 88327070b9
[submodule "third-party/bimg"]
	path = third-party/bimg
	url = https://github.com/bkaradzic/bimg/
	branch = 663f724186
